DB_URL=jdbc:mysql://localhost:3306/sistema_consultoria?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=23012007

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=

MERCADOPAGO_SANDBOX=true
MERCADOPAGO_SANDBOX_EMAIL=test_user_br@testuser.com
MERCADOPAGO_SANDBOX_NOME=APRO
MERCADOPAGO_SANDBOX_VALOR=50.00

SPRING_PROFILES_ACTIVE=dev